.loading-spinner{    
    background-color: #0000001f;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: grid;
}

.loading-spinner img{
    align-self: end;
}

.loading-message{
    text-align: center;
    align-self: start;
}

.spinner13 {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 82px;
}
.spinner13:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #1043A0;
    border-color: #1043A0 transparent #1043A0 transparent;
    animation: spinner13 1.2s infinite;
}
@keyframes spinner13 {
    0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
    transform: rotate(1800deg);
    }
}